.event {
  padding-block: var(--event-y-padding, var(--space-l-2xl));
}

.event__heading,
.event__subheading {
  color: var(--event-heading-color, var(--color-green));
}

.event__subheading {
  font-family: var(--font-sans);
  font-weight: var(--font-medium);
  font-size: var(--event-subheading-font-size, var(--size-step-1));
}

.event[data-variant="city"] {
  --event-y-padding: var(--space-l-xl);
  --event-heading-color: var(--color-terracotta);
  --event-subheading-font-size: var(--size-step-0);
}
